<div class="accordion-container">
    <div>
        <h3>
            Welcome to Bags.com’s Help Zone
        </h3>
        <p>
            You can find the answers to all your questions here. If you can’t find the information you need, please visit
            our <a href="/contact">Contact Us</a> page to contact us and we’ll do our very best to help you.
        </p>
    </div>
    
    <div class="customer-care-links">
        <a>Starting out on Bags.com</a><br/>
        <a>How do I make a return?</a><br/>
        <a>How does Bags.com ship?</a><br/>
        <a>How do I search for Bags?</a><br/>
        <a>How do I place an order?</a><br/>
        <a>How do I learn more about the Customer Loyalty Point Program?</a><br/>
        <a>What is your 115% Price Protection Policy?</a><br/>
    </div>
</div>
