<div class="accordion-container">
    <div ng-show="orders != null">
        <div class="main-row row text-align">
            <div class="col-md-2 col-md-offset-1">order id #</div>
            <div class="col-md-2">date</div>
            <div class="col-md-2">status</div>
            <div class="col-md-2">tracking #</div>
            <div class="col-md-2">amount</div>
        </div>
        <div ng-repeat="r in returns" ng-class="(($index + 1) == returns.length) ? 'last' : ''" class="order-row row text-align bdr-dotted bdr-bottom-only">
            <div class="col-md-2 col-md-offset-1" data-ng-bind="r.orderid"></div>
            <div class="col-md-2" data-ng-bind="r.date"></div>
            <div class="col-md-2" data-ng-bind="r.status"></div>
            <div class="col-md-2" data-ng-bind="r.tracking"></div>
            <div class="col-md-2" data-ng-bind="r.ammount"></div>
        </div>
    </div>
</div>
