
<header>
  <nav class="navbar navbar-default cf" ng-include="'top-nav.html'"></nav>
</header>

<div class="container">
  <div class="my-wrapper">
    <div class="row">
      <section class="col-md-2">
        <!--Sidebar content-->
        <h2>Sidebar Navigatio McAwesome here please.</h2>
      </section>
      <section class="col-md-10">
        <!--Body content-->
        <h1>Dashboard Page</h1>
        <p>
          <strong>To do...</strong><br/>
          Page protected by Angular auth so that means your name is {{ name }}.
        </p>
      </section>
    </div><!--/.my-wrapper-->
  </div><!--/.row-->
</div>